:root {
    --color-dark: black;
    --color-white: white;
    --color-input: #F5F5F5;
    --color-blue: #2148C0;
    --color-gray: #666666;
    --color-gray-alt: #999999;
    --color-bg-input: #F5F5F5;

    --font-family: 'inter', sans-serif;

    --height-input: 58px;
    --height-btn: 73px;
    --padding-form: 85px;

    --border-radius: 10px;

    --padding-form: 85px 90px 60px;
    --gap-blok: 40px;
    --gap-input: 18px;

    --transition-duration: 0.2s;

    --container-width: 1200px;
    --container-padding-x: 20px;
}